# GLBL 5010 - Assignment 1

In [35]:
# Import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [36]:
# Load the dataset from the provided URL

url = 'https://github.com/akhandelwal8/globaleconomics/blob/main/hwk/hwk2_accounting.csv?raw=true'
df = pd.read_csv(url, sep='\t')

In [37]:
alpha = 0.3

## Task 1a

$Y = AK^{0.3}$

$\frac{Y}{L} = \frac{AK^{0.3}}{L}$

$y = Ak^{0.3}$

## Task 1b

In [38]:
gdppc60 = df['cgdpo1960'] / df['pop1960']
gdppc18 = df['cgdpo2018'] / df['pop2018']

n = 2018-1960
g = np.log(gdppc18/gdppc60)/n

df['y1960'] = gdppc60
df['y2018'] = gdppc18
df['growth'] = g

In [39]:
Y = df['growth']

X = np.log(df['y1960'])
X = sm.add_constant(X)

mod = sm.OLS(Y, X, missing="drop")
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 growth   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.008
Method:                 Least Squares   F-statistic:                     1.816
Date:                Sat, 24 Jan 2026   Prob (F-statistic):              0.181
Time:                        13:14:39   Log-Likelihood:                 282.16
No. Observations:                 102   AIC:                            -560.3
Df Residuals:                     100   BIC:                            -555.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0401      0.013      3.198      0.002       0.015       0.065
y1960         -0.0021      0.002     -1.347      0.181      -0.005       0.001
==============================================================================
Omnibus:                        8.577   Durbin-Watson:                   2.152
Prob(Omnibus):                  0.014   Jarque-Bera (JB):               11.721
Skew:                           0.393   Prob(JB):                      0.00285
Kurtosis:                       4.463   Cond. No.                         67.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Task 1c

In [40]:
df["k1960"] = df["cn1960"] / df["pop1960"]
df["k2018"] = df["cn2018"] / df["pop2018"]

df['A1960'] = df['y1960'] / df['k1960']**alpha
df['A2018'] = df['y2018'] / df['k2018']**alpha

In [45]:
df['lny1960'] = np.log(df['y1960'])
df['lnA1960'] = np.log(df['A1960'])
df['lnk1960'] = np.log(df['k1960'])

df['lny2018'] = np.log(df['y2018'])
df['lnA2018'] = np.log(df['A2018'])
df['lnk2018'] = np.log(df['k2018'])

In [47]:
df['lnA1960'].describe()

count    102.000000
mean       5.366537
std        0.620780
min        3.187132
25%        4.916053
50%        5.388751
75%        5.826132
max        6.636096
Name: lnA1960, dtype: float64

## Task 1d

In [54]:
correlation_matrix = np.corrcoef(df['lny1960'].dropna(), df['lnA1960'].dropna())

# The correlation coefficient between x and y is the off-diagonal element (e.g., [0, 1])
pearson_coeff = correlation_matrix[0, 1]

print(f"Pearson correlation coefficient: {pearson_coeff}")

Pearson correlation coefficient: 0.9405769655007491

In [57]:
df

,countrycode,country,pop1960,hc1960,cgdpo1960,cn1960,pop2018,hc2018,cgdpo2018,cn2018,...,k1960,k2018,A1960,A2018,lny1960,lnA1960,lnk1960,lny2018,lnA2018,lnk2018
0,AGO,Angola,NaN,NaN,NaN,NaN,30.809787,1.474635,233298,1360817.00,...,NaN,44168.335211,NaN,305.977161,NaN,NaN,NaN,8.932239,5.723510,10.695763
1,ALB,Albania,NaN,NaN,NaN,NaN,2.882740,2.958068,35407,224225.00,...,NaN,77781.901941,NaN,418.812938,NaN,NaN,NaN,9.415924,6.037424,11.261664
2,ARE,United Arab Emirates,NaN,NaN,NaN,NaN,9.630959,2.743402,630553,4396409.00,...,NaN,456487.147334,NaN,1312.875355,NaN,NaN,NaN,11.089370,7.179975,13.031316
3,ARG,Argentina,20.545674,1.953866,65001.0,107963.00,44.361150,3.065968,1022236,3361087.00,...,5254.780155,75766.453304,242.121458,791.963722,8.059508,5.489439,8.566893,10.045139,6.674516,11.235411
4,ARM,Armenia,NaN,NaN,NaN,NaN,2.951745,3.133220,40192,97055.13,...,NaN,32880.594360,NaN,601.144508,NaN,NaN,NaN,9.519027,6.398835,10.400638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,VNM,Viet Nam,NaN,NaN,NaN,NaN,95.545962,2.816210,687227,1833390.00,...,NaN,19188.566022,NaN,373.228776,NaN,NaN,NaN,8.880813,5.922192,9.862070
138,YEM,Yemen,NaN,NaN,NaN,NaN,28.498683,1.786615,50129,541075.10,...,NaN,18985.968580,NaN,91.566038,NaN,NaN,NaN,7.472497,4.517060,9.851455
139,ZAF,South Africa,16.903384,1.738749,110542.0,243923.50,57.792518,2.857641,733319,2846328.00,...,14430.453689,49250.804403,369.632087,496.246346,8.785637,5.912508,9.577096,9.448477,6.207072,10.804681
140,ZMB,Zambia,3.198477,1.277846,5622.0,15894.60,17.351708,2.644298,55518,289038.20,...,4969.427637,16657.622408,136.790425,173.223846,7.471768,4.918450,8.511060,8.070772,5.154585,9.720623
141,ZWE,Zimbabwe,3.847112,1.242618,9290.0,14725.18,14.438802,2.680630,43568,68826.77,...,3827.592872,4766.792287,203.237160,237.776316,7.789371,5.314374,8.249991,8.012159,5.471330,8.469429

## Task 1e

In [88]:
usa_tfp2018 = df.loc[df["countrycode"] == "USA", 'lnA2018'].values[0]
df['hypA2018'] = usa_tfp2018
df['hypy2018'] = df['hypA2018'] * df['k2018']**alpha
df['hypgrowth'] = np.log(df['hypy2018'] / df['y1960']) / n

In [83]:
print(np.log(df.loc[df['countrycode'] == 'ARG', 'hypy2018']).values[0])
print(df.loc[df['countrycode'] == 'ARG', 'hypy2018'].values[0])
print(df.loc[df['countrycode'] == 'ARG', 'hypgrowth'].values[0])

5.3658623601917395
213.97567924846766
-0.04644215802328067

## Task 1f

In [84]:
Y = df['hypgrowth']

X = np.log(df['y1960'])
X = sm.add_constant(X)

mod = sm.OLS(Y, X, missing="drop")
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              hypgrowth   R-squared:                       0.814
Model:                            OLS   Adj. R-squared:                  0.812
Method:                 Least Squares   F-statistic:                     437.6
Date:                Sat, 24 Jan 2026   Prob (F-statistic):           2.64e-38
Time:                        13:39:26   Log-Likelihood:                 386.74
No. Observations:                 102   AIC:                            -769.5
Df Residuals:                     100   BIC:                            -764.2
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0450      0.004     10.016      0.000       0.036       0.054
y1960         -0.0117      0.001    -20.919      0.000      -0.013      -0.011
==============================================================================
Omnibus:                        6.017   Durbin-Watson:                   2.237
Prob(Omnibus):                  0.049   Jarque-Bera (JB):                5.975
Skew:                           0.400   Prob(JB):                       0.0504
Kurtosis:                       3.875   Cond. No.                         67.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Task 2a

## Task 2b

In [ ]:
df[""]

In [ ]:
df